@page
@model Case_2.Pages.UsersPage.LogInPage.LogInFormModel
@{
}


<div class="container mt-5" style="max-width:400px;">

    <div class="text-danger mb-2">
        @Model.Message
    </div>

    <form method="post">

        <div class="form-group mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="form-group mb-3">
            <label>Password</label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>

        <button class="btn btn-primary w-100">Log in</button>

    </form>

</div>
<div class="back-container">
    <a asp-page="/UsersPage/LogInPage/LogIn" class="btn-back">
        Tilbage
    </a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}