@page
namespace ZealandLokaleBooking.Pages
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="c:\users\sanie\onedrive\opgaver programering\case-2-master\case 2\pages\index.cshtml.cs">c:\users\sanie\onedrive\opgaver programering\case-2-master\case 2\pages\index.cshtml.cs</a>